
<div class="row centered-container">

</br>
<div class="slogan-u">
	<h3 class="white-text">
		Funcionalidades del API
	</h3>
</div>
</br>

<% @menu.each do |e| %>
	<a 
		href="" 
		class="small-5 large-5 button small secondary"
	>
		<div class="row">
		<div class="small-1 large-1 columns"><i class="fa fa-th-large"></i></div>
		<div class="small-10 large-10 columns centered-container"><%=e%></div>		
		</div>
	</a>
<% end %>

</div>